body {
    background-color: #f8f8f8;
    margin: 0;
}

.product {
    width: 150px;
    height: 200px;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

button {
    margin-top: 15px;
    cursor: pointer;
}

img {
    margin-top: 28px;
}

.text {
    padding-top: 10px;
}
